* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: blanchedalmond;
}

header {
    background-color: rgb(157, 89, 0);
}

#pesquisa {
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-bottom: 10px;
}

input {
    width: 400px;
    height: 65px;
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 20px;
}

h1 {
    font-size: 70px;
    position: relative;
    top: 30px;
    color: gold;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: start;
    margin-left: 10px;
    position: relative;
    top: 50px;
}

.mensagem_bonita {
    font-family: Arial;
    font-size: 30px;
    color: brown;
}

.mensagem {
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

.receitas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#pao_de_queijo, #broa_fuba, #pamonha {
    background-color: rgb(228, 185, 58);
    margin: 30px;
    padding-bottom: 30px;
    border-radius: 30px;
}

p {
    margin: 15px;
    font-size: 20px;
    font-family: Arial;
}



#botao_pao_de_queijo, #botao_pamonha, #botao_broa_fuba {
    padding: 12px 24px;

    border: none;
    border-radius: 10px;

    font-size: 25px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

#botao_pao_de_queijo:hover, #botao_pamonha:hover, #botao_broa_fuba:hover {
    background-color: #3730a3;
    
    transform: scale(1.05);

    color: white;
}

#botao_broa_fuba {
    position: relative;
    top: 26px;
    
}

.receitas h3 {
    margin: 25px;
    font-size: 35px;
    
}

.mais_famosas {
    background-color: rgb(228, 185, 58);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 30px;
    border-radius: 30px;
}

h2 {
    font-size: 50px;
    margin-top: 90px;
    color: brown;
}

#brigadeirao, #macarronese, #pastel_fuba {
    background-color: rgb(247, 247, 184);
    border-radius: 30px;
}

#botao_brigadeirao, #botao_macarronese, #botao_pastel_fuba {
    padding: 12px 24px;

    border: none;
    border-radius: 10px;

    font-size: 25px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
    
}

#botao_brigadeirao:hover, #botao_macarronese:hover, #botao_pastel_fuba:hover {
    background-color: #3730a3;

    transform: scale(1.05);

    color: white;
}

#botao_brigadeirao {
    margin-top: 30px;
    margin-bottom: 22px;
}

 #botao_pastel_fuba {
    margin-top: 57px;
}

#botao_macarronese {
    margin-top: 70px;
}

.mais_famosas h3 {
    font-size: 35px;
    margin: 25px;
}

.mais_famosas img {
    border-radius: 15px;
}

.receitas img {
    border-radius: 15px;
}

.receitas p {
    margin-left: 100px;
    margin-right: 100px;
}

.mais_famosas p {
    margin-left: 70px;
    margin-right: 70px;
}

footer {
    background-color:  rgb(157, 89, 0);
    margin-top: 10%; 
    padding: 20px;
    display: flex;
    justify-content: start;
    color: white;
    font-family: Arial;
}

@media screen and (max-width: 768px){
    
}